@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* FONT */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* SHEAR STYLE */
body{
    max-width: 1440px;
    margin: 0 auto;
    border: 5px double rgb(0, 119, 255);
}
.hover-effect:hover{
    background-color: seagreen;
    color: red;
}
.hide{
    display: none;
}

a{
    text-decoration: none;
}
li{
   list-style: none;
}
.flex{
    display: flex;
}
.text{
    text-align: center;
}
.btn{
    border-radius: 12px;
    padding: 10px 60px;
    border: none;
    background-color: rgba(254, 163, 1, 1);
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}






/* sheared ID style */

/* header part */




/* Banner part id style */
#Admission{
    color: rgba(93, 88, 239, 1);
}
#Facilities{
    color: rgba(5, 212, 223, 1);
}
#Home{
    color: rgba(254, 163, 1, 1);
}
#About{
    color: rgba(1, 172, 253, 1);
}
/* banner id style */
#Empowering{
    color: rgba(254, 163, 1, 1);
}
#towards{
    color: rgba(1, 172, 253, 1);
}




/* CURRICULUM id part*/
#kinder{
    background-image: linear-gradient(to bottom, #def5ff, #e9f7ff, #f3f9ff, #fafbff, #ffffff);;
   }
#elementary{
       background-image: linear-gradient(to bottom, #fff4dc, #fff3e9, #fff6f7, #fffbff, #ffffff);
   }
      #middle{
       background-image: linear-gradient(to bottom, #f2e8ff, #f4eeff, #f7f4ff, #fbf9ff, #ffffff);
   }
   
   /* a > read more style*/
   
   #read-more-1{
    color: #64C8FF;
    font-size: 1rem;
    font-weight: 700;
   }
   #read-more-2{
       color: #F0AA00;
       font-size: 1rem;
       font-weight: 700;
   }
   #read-more-3{
   color: rgba(135, 0, 255, 1);
   font-size: 1rem;
   font-weight: 700;
   }

















/* Header */
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}
.ul{
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* Main style */

/* Banner  Style*/
.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 100px;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1.2rem;
    font-weight:300 ;
}

.enroll{
    border-radius: 12px;
    padding: 13px 47px;
    border: none;
    background-color: rgb(3, 3, 3);
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
/* banner style closed */

/* Curriculum  STYLE*/
.curriculum{
    border: 2px double green;
    text-align: center;
    background-image: url(../assets/bg.png);
    padding: 3erm;
}
.section-title {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.curriculum-child{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}
.curriculum-container{
    border: 2px double blue;
    padding: 1rem;
}
/* Curriculum btn Style */
.round{
    margin:50px 15px;
    width: 60px;
    height:60px;
    border: none;
    border-radius: 50%;
    background-color:#FEA301;
    color: #f3f9ff;

}
/* Curriculum */





/* our-story */
/* .our-story{
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg.png);
} */
 #our{
    background-image: linear-gradient(to top, #fea301, #ffa283, #ffbdd6, #ffe2ff, #ffffff);
 }
.our-story{
background-image: url(../assets/bg.png);
padding: 20px 10px;
justify-content: center;
align-items: center;
padding: 25px;
margin-top:100px;
gap: 20px;
}
.btn-story-1{
    position: relative;
    top: -15.625rem;
    left: 20px;
    background-color: rgba(60, 216, 232, 1);
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    border: none;
    color: white;
}
.btn-story-2{
    position: relative;
    top: -5.625rem;
    left: 20px;
    background-color: rgb(235, 121, 15);
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    border: none;
    color: white;    
}
.btn-story-3{
    position: relative;
    top: -5.625rem;
    left: 20px;
    background-color: rgb(161, 163, 11);
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    border: none;
    color: white;
}
.btn-story-4{
    position: relative;
    top: -6.625rem;
    left: 20px;
    background-color: rgb(34, 107, 56);
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    border: none;
    color: white;
}
.btn-story-5{
    position: relative;
    top: -5.625rem;
    left: 20px;
    background-color: rgb(161, 163, 11);
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    border: none;
    color: white;
}
.story-description{
    font-size: 1rem;
    font-weight: 400;
}
.story-container{
    /* border: 1px solid yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #546772; */
    
}
.story-container{
    padding:25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}
/* #story-1{
    grid-row: 2;
} */
.story-container>img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}
#story-1{
    grid-row: span 3;
}
.story_1 , .story{
    max-width: 80%;
    font-size: 1erm;
    font-weight: 700;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgb(236, 229, 229);
    background-color:rgba(255, 255, 255, 1);

}
.story_1>img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.view-all{display: flex;
    justify-content: center;
    align-items: center;
}




/* Responsive */
@media screen and (max-width: 576px) {

    .school, .nav, .header-btn, .round, .story_1{
        display: none;
    }
    .text{
        text-align: center;
    }
    .hr{
        display: block;
        color: orange;
    }
    

    /* Banner */

    .banner{
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        border: 1px solid red;
        justify-content: center;
        align-items: center;

    }
    /* .banner-container > img{
        width: 374px;
        height:500px;
        object-fit: contain;
    } */
    .banner-container{
        display: flex;
        flex-direction: column;
        border: 2px dotted green;
        justify-content: center;
    }
    .banner-container-1{
        padding: 1rem;
    }
    .enroll{
        border-radius: 12px;
        padding: 13px 20px;
        border: none;
        background-color: rgb(3, 3, 3);
        font-size: .95rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }


    /* curriculum */
    .section-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .curriculum-container{
        border: 2px double blue;
    }
    .curriculum-child{
        border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        
        /* gap: 1rem;
        padding: 1.5rem; */
    }

    /* our story */


    .story-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin: 10px;
       
    }
    /* .story_1 , .story{
        font-size: 1erm;
        font-weight: 700;
        padding: 30px;
        margin: 0;
        gap: 20px;
        border-radius: 16px;
        border: 1px solid rgb(236, 229, 229);
        background-color:rgba(255, 255, 255, 1);
    }
    
    .story_1{} */
    .story>img{
        object-fit: cover;
        width: 200px;
        height: 300px;
        width: calc(100%-10%);
    }
    
}
