@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* FONT */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}